<button *ngIf="!isFormVisible; else close_btn" (click)="changeFormVisibility(true)">Add new</button>
<ng-template #close_btn>
    <button (click)="changeFormVisibility(false)">Close</button>
</ng-template>

<app-add-contact *ngIf="isFormVisible"></app-add-contact>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    
    <ng-container *ngFor="let contact of contacts" >
        <tr (click)="showDetails(contact.email)">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phoneNumber}}</td>
            <td>
                <button>Edit</button>
                <button (click)="deleteContact(contact.email)">Delete</button>
            </td>
        </tr>

        <tr>
            <td colspan="5">
                <div [id]="contact.email" *ngIf="contact.email == expandedContact">
                    <p>Date of birth: {{contact.dateOfBirth}}</p>
                    <p>Category: {{contact.categoryName}}</p>
                    <p>Subcategory: {{contact.subCategoryName}}</p>
                </div>
            </td>
        </tr>
       
    </ng-container>
</table>
