<div class="form-container add-new-contact-form">
    <h2 *ngIf="isEditForm">Edit contact</h2>
    <h2 *ngIf="!isEditForm">+ Add new contact</h2>

    <input [(ngModel)]="contact.email" type="text" placeholder="Email address">
    <input [(ngModel)]="contact.firstName" placeholder="First Name">
    <input [(ngModel)]="contact.lastName" placeholder="Last Name">

    <input [(ngModel)]="contact.dateOfBirth" placeholder="Date of birth">
    <input [(ngModel)]="contact.phoneNumber" type="text" placeholder="Phone number">

    <select [(ngModel)]="contact.categoryId" (change)="selectCategory(contact.categoryId)">
        <option *ngFor="let category of contactCategories" [value]="category.id">{{category.name}}</option>
    </select>

    <select *ngIf="contact.categoryId == 1" [(ngModel)]="contact.subCategoryId">
        <option *ngFor="let subCategory of contactSubCategories" [value]="subCategory.id">{{subCategory.name}}</option>
    </select>
    
    <input *ngIf="contact.categoryId == 3" [(ngModel)]="contact.subCategoryName" placeholder="Subcategory">

    <button (click)="confirm()">
        <span *ngIf="isEditForm">Edit</span>
        <span *ngIf="!isEditForm">Create</span>
    </button>
</div>
