<div class="form-container add-new-contact-form">
    <h2 *ngIf="isEditForm">Edit contact</h2>
    <h2 *ngIf="!isEditForm">+ Add new contact</h2>

    <input [(ngModel)]="contact.email" type="text" placeholder="Email address" required email="true" minlength="5" #email="ngModel">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
        <div *ngIf="email.errors?.['required']">
            Email address is required.
        </div>
        <div *ngIf="email.errors?.['minlength']">
            Email must be at least 5 characters long.
        </div>
        <div *ngIf="email.errors?.['email']">
            Invalid email format
        </div>
    </div>

    <input [(ngModel)]="contact.firstName" placeholder="First Name" required minlength="5" #first_name="ngModel">
    <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert">
        <div *ngIf="first_name.errors?.['required']">
            First Name is required.
        </div>
        <div *ngIf="first_name.errors?.['minlength']">
            First Name must be at least 5 characters long.
        </div>
    </div>

    <input [(ngModel)]="contact.lastName" placeholder="Last Name" required  minlength="5" #last_name="ngModel">
    <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert">
        <div *ngIf="last_name.errors?.['required']">
            Last Name is required.
        </div>
        <div *ngIf="last_name.errors?.['minlength']">
            Last Name must be at least 5 characters long.
        </div>
    </div>

    <input [(ngModel)]="contact.dateOfBirth" placeholder="Date of birth (yyyy-mm-dd)">

    <input [(ngModel)]="contact.phoneNumber" type="text" placeholder="Phone number" required  minlength="7" maxlength="9" #phone_number="ngModel">
    <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)" class="alert">
        <div *ngIf="phone_number.errors?.['required']">
            Phone number is required.
        </div>
        <div *ngIf="phone_number.errors?.['minlength']">
            Phone number must be at least 7 digits long.
        </div>
        <div *ngIf="phone_number.errors?.['minlength']">
            Phone number must be up to 9 digits long.
        </div>
    </div>

    <select [(ngModel)]="contact.categoryId" (change)="selectCategory(contact.categoryId)">
        <option *ngFor="let category of contactCategories" [value]="category.id">{{category.name}}</option>
    </select>

    <select *ngIf="contact.categoryId == 1" [(ngModel)]="contact.subCategoryId">
        <option *ngFor="let subCategory of contactSubCategories" [value]="subCategory.id">{{subCategory.name}}</option>
    </select>
    
    <input *ngIf="contact.categoryId == 3" [(ngModel)]="contact.subCategoryName" placeholder="Subcategory">

    <button (click)="confirm()" [disabled]="email.invalid || first_name.invalid || last_name.invalid || phone_number.invalid">
        <span *ngIf="isEditForm">Edit</span>
        <span *ngIf="!isEditForm">Create</span>
    </button>
</div>
